
.DS_Store

fba_src/.DS_Store

fba_src/src/.DS_Store

fba_src/src/burn/.DS_Store

*.xcuserstate

*.xcuserstate

iFBA.xcodeproj/project.xcworkspace/xcuserdata/ymagnien.xcuserdatad/UserInterfaceState.xcuserstate

iFBA.xcodeproj/project.xcworkspace/xcuserdata/yoyofr.xcuserdatad/WorkspaceSettings.xcsettings

iFBA.xcodeproj/xcuserdata/yoyofr.xcuserdatad/xcschemes/iFBA.xcscheme

iFBA.xcodeproj/xcuserdata/yoyofr.xcuserdatad/xcschemes/xcschememanagement.plist

iFBA.xcodeproj/project.xcworkspace/xcshareddata/iFBA.xccheckout
